.field {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    padding-right: 2rem;

    &__label {
        font-size: 1.4rem;
        color: gray;
    }

    &__input {
        padding: 1rem;
        border-radius: .5rem;
        border: 1px solid #ccc;
        border-color: gray;
        font-size: inherit;

        &:focus {
            background-color: rgb(241, 202, 129);
            color: blue;
        }
    }
}